*{
    font-family: monospace;
    color: rgb(0, 0, 0);
}
body{
     background-image: url(assets/imagens/Dorfic.webp);
     background-size: cover;
}
header{
    position: fixed;
    top: 0;
    text-align: center;
    width: 97.3vw;
    height: 80px;
    background-color: rgb(255, 115, 1);
    border: 10px solid rgb(219, 70, 11);
    border-radius: 10px;
}



.displays{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 115, 1);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

main{
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    background-color: rgba(212, 212, 212, 0.541);
    border-radius: 20px;
    height: 100vh;
    width: 800px;
}


footer{
    background-color: rgb(255, 115, 1);
    color: aliceblue;
    padding: 2px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 10px solid rgb(219, 70, 11);
    border-radius: 30px;
}

.display{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 30px;
}
.elemento{
    background-color: rgb(255, 230, 0);
    border-radius: 30px;

}
.block{
    display: block;
}
.inline{
    display: inline;
}