*{
    font-family: monospace;
    color: rgb(0, 0, 0);
}
body{
     background-image: url(assets/imagens/1__zqJUXJaDneHRrXeXtR5vQ.jpg);
     background-size: cover;
}
header{
    position: fixed;
    top: 0;
    text-align: center;
    width: 97.3vw;
    height: 80px;
    background-color: #3e76d8a2;
    border: 10px solid #005effe7;
    border-radius: 10px;
}



.displays{
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 196, 255, 0.582);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

main{
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    background-color: rgba(146, 210, 226, 0.541);
    border: 1px solid rgba(147, 218, 231, 0.788);
    border-radius: 20px;
    height: 100vh;
    width: 800px;
}



.display{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 30px;
}
.elemento{
    background-color: #a7de4e;
    border-radius: 30px;
    
}
.elemento_in_bl{
    display: inline-block;
    background-color: #a7de4e;
    border-radius: 30px;
    width: 90px;
}
.block{
    display: block;
}
.inline{
    display: inline;
}
.inline_block{
    display: inline-block;
}
footer{
    background-color: #3e76d8a2;
    border: 10px solid #005effe7;
    color: aliceblue;
    padding: 2px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 30px;
}
